{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>Página inicial</h2>
    <p>Olá!</p>
    <ul>
      {% for product in products %}
        <li>{{product.nome}}</li>
        <li>{{product.preco}}</li>
        <li><img src="{{product.imagem}}" alt=""></li>
      {% endfor %}  
    </ul>
    
  </div>
</body>
</html>